/* CSS Document */

#CieCajaContainer {
  border-radius: 7px;
  border: solid;
  border-color: rgb(192, 0, 64);
  margin-top: 1%;
  height: 250px;
  width: 45%;
}

#cieCajaLogo {
  height: 150px;
  width: 150px;
}
