#bannerListComestible {
	background-color: rgba(120,0,40,1.00);
	height: 902px;
	text-align: center;
	color: white;
}

#imgListComes {
	height: 160px;
	width: 160px;
	margin-top: 7%;
	margin-left: 5%;
	margin-right: auto;
}

#circle-background {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#cantComesInput{
	margin-left: 15%;
}

#restComesInput{
	margin-left: 15%;
}