#bannerEquipo {
	background-color: rgba(120,0,40,1.00);
	height: 902px;
	text-align: center;
	color: white;
}

#imgListEquipo {
	height: 155px;
	width: 155px;
	margin-top: 12%;
	margin-left: -1%;
	
	
}

#circle-background {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.textArea {
	resize: none;
	margin-left: -20%;
}

#cantEquiInput{
	margin-left: 15%;
}