#techContainer {
	border-radius: 7px;
	border: solid;
	border-color: rgb(192, 0, 64); 
    margin-top: 2%;
  	height: 670px;
  	width: 40%;
}

#empImg {
	height: 200px; 
	width: 200px;
}

#empFile {
	display: none;
}

#infoEmp {
	text-align: center;
}

#empLogo {
	width: 200px; 
	height: 200px
}


.textArea {
	resize: none;
}

#descTechInput{
 margin-left: 0%;
}