@charset "utf-8";
/* CSS Document */

#bannerConse {
	background-color: rgba(120,0,40,1.00);
	height: 905px;
	text-align: center;
	color: white;
}

#imgConseList {
	height: 130px;
	width: 130px;
	margin-top: 12%;
	margin-left: -1%;
	
	
}

#circle-background {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.textAreaConse {
	resize: none;
	margin-left: 50%;
}

#desConse {
	margin-left: -20%;
}

#prefConseLabel{
	margin-left: -55%;
}