
#espContainer {
	border-radius: 7px;
  	border: solid;
  	border-color: rgb(192, 0, 64); 
  	margin-top: 2%;
  	height: 670px;
  	width: 60%;
}

#logoEsp {
	width: 200px; 
	height: 200px; 
	margin-top: 15%;
}

#imgEsp {
	height: 200px; 
	width: 200px;
}

#infoEsp {
	text-align: center;
}
.textAreaEsp {
	resize: none;
}


.imageAddEspContainer{
	margin-top: 25%;
}

#submitAddEsp{
	margin-left: 6%;
}