@charset "utf-8";
/* CSS Document */

#puestoContainer {
	border-radius: 7px;
  	border: solid;
  	border-color: rgb(192, 0, 64); 
  	margin-top: 3%;
  	height: 550px;
  	width: 40%;
}

#internRadio {
	margin-left: 3%;
}

#rolSelect {
	width: 205px; 
	height: 30px;
}

#infoLabel {
	text-align: center;
}

#puestoImg {
	width: 200px; 
	height: 200px; 
	margin-top: 20%; 
	
}

.textArea {
	resize: none;
}

#detalleUM{
    margin-left: -0%;
}

.contenido{
	background-color:rgb(255, 231, 190) !important;
}

html, body {
	min-height: 100%;
	background-color:rgb(255, 231, 190) !important;
}
