@charset "utf-8";
/* CSS Document */

#bannerUsuarios {
	background-color: rgba(120,0,40,1.00);
	height: 902px;
	text-align: center;
	color: white;
}

.listLabel {
	color: white;
}

#imgList {
	height: 160px;
	width: 160px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	
}

#circle-background {
	margin-left: auto;
	margin-right: auto;
	margin-top: 35%;
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
