#menuAdminResContainer {
	border-radius: 7px;
  	border: solid;
  	border-color: rgb(192, 0, 64); 
  	margin-top: 6%;
  	height: 300px;
  	width: 30%;
}

#logoOpcEsp {
	width: 150px; 
	height: 150px; 
	margin-top: 10%; 
}

#opcLabel{
	margin-left: 2%;
}