.bordeGeneralBG {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(192, 0, 64);
  border-radius: 5px;
  width: 55%;
  margin-top: 3%;
}


.textArea {
  resize: none;
}

#AddGasLogo{
  height: 200px;
  width: 200px;
}

#descAddGas{
  margin-left: 0%;
}

#imgAddGas{
  height: 200px;
  width: 200px;
}