#addLicorContainer {
	border-radius: 7px;
  	border: solid;
  	border-color: rgb(192, 0, 64); 
  	margin-top: 2%;
  	height: 710px;
  	width: 60%;
}

#infoLicor {
	text-align: center;
}

#logoLicor {
	width: 200px; 
	height: 300px; 
	margin-left: 20%;
}

.textAreaLicor {
	resize: none;
}

#imgLicor {
	height: 200px; 
	width: 205px;
}

#fileLicor{
	display: none;
}

#addImgLicor{
	border: 1px solid black;
}